body {

}

article {
    padding-bottom: 20px;
    border-bottom: dotted 1px #dddddd;
}

article div.row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;

    background-color: #eee;
}

img.wp-post-image,
img.page-banner {
    margin-top: 5px;
}

.thumbnail-img {
    float: left;

    margin-right: 20px;
    margin-bottom: 20px;
}