body {  }

img {
    max-width: 100%;
    height: auto;
}

/*
 * Styling navigation bars
 */

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;

    background-color: #eee;
}


/********************************************************************************
 * Blog Index Carousel
 ********************************************************************************/
#latest-posts-carousel {
    background-color: #222222;
}

#latest-posts-carousel .item {
    height: 600px;
    overflow: hidden;
}

#latest-posts-carousel .item .carousel-caption {
    color: white;
    background-color: #222;
    opacity: .8;
}

#latest-posts-carousel .item .carousel-caption a {
    color: limegreen;
}

#latest-posts-carousel .item img {
    width: 100%;
    height: auto;
    padding: 2%;
}


/********************************************************************************
 * Styling the teasers on the blog index
 ********************************************************************************/
article.teaser {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: #efefef;
    height: 100%;
    font-size: 110%;
    line-height: 1.5;

    transition: box-shadow 0.1s ease;
}

article.teaser:hover {
    border: 2px solid #888;
    box-shadow: 10px 10px 5px #dedede;

    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 18px;
}

article.teaser header {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
}


article.teaser header span {
    position: absolute;
    top: -15px;
    left: -5px;
}

article.teaser header span.badge{
    font-weight: bold;
    background-color: #0f8;
    color: #060;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

article.teaser header div.thumbnail {
    margin-bottom: 0px;
}

article.teaser header h1 {
    margin-bottom: 0px;
    font-size: 160%;
}

article.teaser div.row {
    margin-left: 0px;
    margin-right: 0px;
}

article.teaser.newArticle {
    background-color: #deefde;
}

article.teaser.newArticle:hover {
    border: 2px solid #0f6;
    box-shadow: 10px 10px 5px #cddecd;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 18px;
}



/*
 * Styling a single post
  */
img.wp-post-image.pull-left {
    margin-right: 30px;
    margin-bottom: 30px;
}

/*
 * Styling gallery posts
 */
div.gallery {
    background-color: #222;
}

div.gallery {
    padding: 25px;
    color: white;
}


div.gallery img {
    border: none !important;
}

div.gallery img:hover {
    border: 1px solid #ccffcc !important;
}


div.row {
    margin-bottom: 20px;
}

img.wp-post-image,
img.page-banner {
    margin-top: 5px;
}

.thumbnail-img {
    float: left;

    margin-right: 20px;
    margin-bottom: 20px;
}

div#post-teasers {
    margin-top: 30px;
}

body.single-post {
    padding-top: 50px;
}